body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 12px;
    text-align: left;
}



button {
    background-color: mediumblue;
    color: white;
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
}

.loading {
    font-size: 18px;
    font-weight: bold;
    color: darkgrey;
}